.flipUp-360{
  transition: 1s, color 1s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}
.flipUp-360:hover{
  transform: rotateX(360deg);
      -webkit-transform: rotateX(360deg);
      -moz-transform: rotateX(360deg);
}
            